.container {
    margin-top: 10px;
    display: table;
    height: 100%;
}
.row {
    min-width: 960px;
    display: table-cell;
    height: 100%;
    vertical-align:middle;
}
.medium-element{
    width: auto;
    padding: 10px;
    height: auto;
}