<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Ruggil</a>
      </div>
      <ul class="nav navbar-nav">
        <li (click)="ChangeScreen('home')" [class.active]="CurrentPage == 'home'"><a [routerLink]="['home']">{{home}}</a></li>
        <li (click)="ChangeScreen('chat')" [class.active]="CurrentPage == 'chat'"><a [routerLink]="['chat']">{{chat}}</a></li>
        <li (click)="ChangeScreen('meet')" [class.active]="CurrentPage == 'meet'"><a [routerLink]="['meet']">{{meet}}</a></li>
      </ul>
    </div>
</nav>
